<tr>
    <td>{{this.processNumber}}</td>
    <td>{{this.complainer}}</td>
    <td>{{this.claimed}}</td>
    <td>{{this.description}}</td>
    <td>{{this.status}}</td>
    <td>
        <div>
            <i class="far fa-folder-open"></i>
        </div>
    </td>
</tr>